{{yield}}

{{#if playing}}
    {{#if correct }}
        <div class="text-center">Yes! It only took me {{guesses}} guesses.</div>
        <div class="text-center">Do you want to<button {{action 'start'}}>Play again!</button></div>
    {{else}}
    <div class="text-center">Is it {{guessValue}}?</div>
    <div class="text-center">
        <button {{action 'lower'}}>Lower</button>
        <button {{action 'correct'}}>correct</button>
        <button {{action 'higher'}}>Higher</button>
    </div>
    {{/if}}
{{else}}
    <div class="text-center">think of a number between 1 and 100 and then press <button {{action 'start'}}>start !</button></div>
{{/if}}