<section id="app">
    <header>
        <h1>Guess the Number</h1>
    </header>
    <article>
        {{outlet}}   
    </article>
    <footer>
        <div class="float-left">
            Powered by Ember.
        </div>
        <div class="float-right">
            high-scores
        </div>
    </footer>
</section>
